DB_USER=postgres
DB_PASS=REPLACE_WITH_STRONG_DB_PASSWORD
DB_NAME=flowersdb
DB_PORT=5001

MINIO_ROOT_USER=REPLACE_WITH_STRONG_MINIO_USER
MINIO_ROOT_PASSWORD=REPLACE_WITH_STRONG_MINIO_PASSWORD

SITE_IP=178.72.179.125
SITE_DOMAIN=flowers-choice.ru
SITE_URL=https://flowers-choice.ru
SITE_CERT_NAME=flowers-choice.ru-0001

GUNICORN_WORKERS=2
JWT_SECRET=REPLACE_WITH_LONG_RANDOM_JWT_SECRET
