.env
userProfile.json
venv
ml_venv
minio_venv
minio/minio_data/
frontend/node_modules
DB/postgres_data
frontend/server.js
backend\__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
**/__pycache__/
**/*.pyc