# Runtime volumes
postgres_data/
minio_data/
DB/postgres_data/
minio/minio_data/
.minio/

# Front
node_modules/
frontend/node_modules/

# Python
**/__pycache__/
**/*.pyc
**/venv
**/ml_venv
# Env
.env
DB/.env
.env.dev
.env.prod